<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/js/bootstrap.bundle.min.js">
  <style>
    .body {
      background-color: black;
      color: white;
    }
  </style>
</head>

<body class="body">
  <%- include('Navbar'); %>
    <%- include('Sidebar'); %>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 9"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/zudio/1_bab1a241-3919-4a88-844b-8de494949c05_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/2_8e0c6cbf-997a-4ac0-9890-c63ea7102bac_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/3_55e364db-b92d-4d93-8935-7f8d35ea5b64_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/4_5b44e6dd-4df3-43bb-a49c-a74aee96a113_1950x.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/5_ebd120d9-e584-4512-80c9-874732da9f22_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/6_dbb645f0-0077-48dc-8e70-a98a313d360c_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/7_6670f709-6deb-4f80-bba5-cd8e39d7c1d9_1950x.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/8_fa329b32-819d-46ed-a9d7-815bd307588a_1950x.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/zudio/Imp_Notice_06th_Dec_Web_Banner-01_900x_745a9a67-fdb5-4e0c-8ee0-6f6072da449f.png"
              class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</body>

</html>